@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.main-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: {{backgroundColor}};
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.main-content {
	color: white;
}
.main-content h1 {
	font-size: 96px;
}
.main-content h2 {
	font-size: 32px;
}

h3.highscore {
  font-size: 24px;
}

.main-container .highscore {
	position: fixed;
	/* top: 0; */
	/* bottom: 0; */
	/* font-size: 48px; */
	color: white;
	margin-bottom: 15px;
	margin-top: 15px;
	display: none;
}
.main-container .rules {
	background-color: #ffffff1a;
	position: fixed;
	font-size: 16px;
	color: white;
	border: white 2.5px solid;
	border-radius: 15px;
	width: 350px;
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	display: none;
	font-weight: 500;
}
.rules-inner {
	padding: 15px 15px;
}
.rules-inner h3 {
	font-size: 16px;
}
